@font-face {
  font-family: 'Hijrnotes';
  src: url('/static/fonts/Hijrnotes.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.hijrnotesFont {
  font-family: 'Hijrnotes', sans-serif;
}
